
@import 'reset';




$darkGrey: #57585a;
$lightGrey: #6c6d70;
$textColor: #fffde9;
$softBgColor: #fffde9;
$lightFont: #fffde9;

@font-face {
	font-family: "Founders-Regular";
	src: url("../fonts/FoundersGrotesk-Regular.eot") format("eot"),
		 url("../fonts/FoundersGrotesk-Regular.woff") format("woff"),
		 url("../fonts/FoundersGrotesk-Regular.woff2") format("woff2"),
}

@font-face {
	font-family: "Founders-Regular-Italic";
	src: url("../fonts/FoundersGrotesk-RegularItalic.eot") format("eot"),
		 url("../fonts/FoundersGrotesk-RegularItalic.woff") format("woff"),
		 url("../fonts/FoundersGrotesk-RegularItalic.woff2") format("woff2"),
}

@font-face {
	font-family: "TiemposTex-Regular";
	src: url("../fonts/TiemposText-Regular.eot") format("eot"),
		 url("../fonts/TiemposText-Regular.woff") format("woff"),
		 url("../fonts/TiemposText-Regular.woff2") format("woff2"),

}

@font-face {
	font-family: "TiemposTex-RegularItalic";
	src: url("../fonts/TiemposText-RegularItalic.eot") format("eot"),
		 url("../fonts/TiemposText-RegularItalic.woff") format("woff"),
		 url("../fonts/TiemposText-RegularItalic.woff2") format("woff2"),

}


* {
	box-sizing: border-box;
}

body {
	background: $softBgColor;
}




// =========================HEADER STYLES==================


header {
	width: 100%;
	background-color: $darkGrey;
	
	.header-wrap {
		width: 100%;

		img {
			padding: 20px;
		}

		.hamburger {
			float: right;
			margin: 20px;
			padding: 20px;
			cursor: pointer;
			z-index: 10;

			.line-1 {
				width: 45px;
				height: 3px;
				border-radius: 10px;
				background-color: white;
				margin: 6px 0;
				transition: 0.4s; 
			}

			.line-2 {
				width: 45px;
				height: 3px;
				border-radius: 10px;
				background-color: white;
				margin: 6px 0;
				transition: 0.4s;
			}
			
			.line-3 {
				width: 45px;
				height: 3px;
				border-radius: 10px;
				background-color: white;
				margin: 6px 0;
				transition: 0.4s ease-in-out;
			}

			.change.line-1 {
				transform: rotate(-45deg) translate(-5px, 3px);
				width: 45px;
			}
	
			.change.line-2 {
				opacity: 0;
			}
	
			.change.line-3 {
				transform: rotate(45deg) translate(-8px, -8px) ;
			}

		}
	}

	.toggle-nav {
		display: none;
	}

	nav {
		width: 100%;
		background-color: $lightGrey;
		
		ul {
			width: 60%;
			margin: 0px auto;
			background-color: $lightGrey; 
			padding: 10px;
			display: flex;
			flex-direction: row;
			justify-content: center;
			flex-wrap: wrap;
			

			li {
				margin: 10px;


			}

			.divider {
				position: relative;
			}

			.divider::after {
				content: "";
				position: absolute;
				height: 12px;
				width: 2px;
				background-color: $textColor;
				top: 20%;
				left: 120%;
			}

			.divider-estate {
				position: relative;
			}

			.divider-estate::after {
				content: "";
				position: absolute;
				height: 12px;
				width: 2px;
				background-color: $textColor;
				top: 20%;
				left: 112%;
			}

			.divider-banking {
				position: relative;
			}

			.divider-banking::after {
				content: "";
				position: absolute;
				height: 12px;
				width: 2px;
				background-color: $textColor;
				top: 20%;
				left: 115%;
			}

			.divider-oil {
				position: relative;
			}

			.divider-oil::after {
				content: "";
				position: absolute;
				height: 12px;
				width: 2px;
				background-color: $textColor;
				top: 20%;
				left: 112%;
			}
			
			a {
				text-decoration: none;
				color: $textColor;
				font-size: 1.1em;
				margin: 0px auto;

			}
		}
	}
}






// ==========================HOME STYLES=================


.header-image-wrap {
	width: 100%;
	margin: auto;
	padding: 20px;

	img {
		width: 40%;
		padding: 20px;
		display: block;
		margin: auto;
	}
}

.hero-home {
	width: 100%;	
	margin: auto;
	background-color: #8b8d90;
	padding: 50px;


	p {
		width: 100%;
		margin: auto auto;
		text-align: center;	
		font-size: 1.3em;
		line-height: 1.5;
		color: $textColor;
		font-family: "TiemposTex-Regular";
	}
}


.featured-project {
	background-color: #6c6d70;
	text-align: center;
	color: white;
	padding: 20px;

	h1 {
		font-size: 1.8em;
		padding: 10px;
		margin: 5px;
		font-family: "Founders-Regular";

	}


	p {
		line-height: 1.4;
		width: 100%;
		color: $textColor;
		margin: auto;
		font-size: 1.3em;
		font-family: "TiemposTex-Regular";
		margin-bottom: 10px;
	}

	a {
		text-decoration: none;
		color: #fff;
		font-size: 1.2em;
		font-family: "TiemposTex-Regular";
		padding: 5px;
	}

	a:hover {
		color: $textColor;
	}
}

.hero-image {
	width: 100%;
	margin-bottom: -4px;

	img {
		width: 100%;
	}
}

.social-icons {
	background-color: #6c6d70;
	width: 100%;
	margin: auto;
	padding: 20px;
	text-align: center;

	.fb-icon, .insta-icon, .twitter-icon {
		display: inline-block;
		width: 7.5%;
		margin: 10px 10px;
	}

	h1 {
		padding: 5px;
		color: $lightFont;
		font-family: "TiemposTex-Regular";
	}

	p {
		padding: 5px;
		color: $lightFont;
		font-family: "TiemposTex-Regular";
	}

}

footer {
	background: #8b8d90;
	color: #fff;
	text-align: center;
	padding: 50px;
	width: 100%;
	font-family: "Founders-Regular";
	font-size: 1.3em;

	h1 {
		padding: 20px;
		font-size: 1.1em;
	}

	.inline-scale-email {
		margin-bottom: 10px;
	}

	p {
		color: $lightFont;
		font-family: "TiemposTex-Regular";
		padding: 5px;
	}

	a {
		text-decoration: none;
		color: $lightFont;
	}

	.company-footer-text {
		padding: 5px;
	}

}

@media only screen and (min-width : 768px) {

	.header-image-wrap {
		img {
			max-width: 23%;
		}
	}

	.hero-home {
		p {
			// padding: 20px;
			margin-top: 89px;
			margin-bottom: 80px;
			font-size: 1.8em;
		}
	}

	.social-icons {
		
		.fb-icon, .insta-icon, .twitter-icon {
			width: 3%;
		}
	}
}



// ==========================ABOUT STYLES=================

.content-about {
	width: 100%;
	max-width: 1200px;
	padding: 20px;
	margin: auto;
	background-color: $softBgColor;

	h1 {
		border-bottom: 1px solid $darkGrey;
		text-align: center;
		padding: 10px;
		font-size: 2em;
		color: $darkGrey;
	}

	.col-1-about, .col-2-about {
		margin-top: 25px;
		text-align: left;

		h2 {
			margin-bottom: 15px;
			font-size: 1.4em;
			color: $darkGrey;
		}

		p {
			font-size: 1.1em;
			margin: 15px 0px;
			line-height: 1.2;
		}
	}
}


// ==========================TEAM STYLES=================


.content-team {
	width: 100%;
	max-width: 1200px;
	padding: 20px;
	margin: auto;
	background-color: $softBgColor;

	h1 {
		border-bottom: 1px solid $darkGrey;
		text-align: center;
		padding: 10px;
		font-size: 2em;
		color: $darkGrey;
	}

	.col-1-team, .col-2-team, .col-3-team {
		margin-top: 25px;
		text-align: left;
		line-height: 1.2;

		img {
			display: block;
			margin: auto;
			padding: 20px;
		}
		h2 {
			margin: 5px 0px;
			display: inline-block;
			font-size: 1.1em;

		}

		.divider-team {
			position: relative;
		}

		.divider-team::after {
			content: "";
			position: absolute;
			height: 10px;
			width: 2px;
			background-color: $darkGrey;
			top: 2%;
			left: -6%;
		}

		h3 {
			margin: 5px 10px;
			display: inline-block;
			vertical-align: baseline;
			font-size: .7em;
		}
	}
}


// ==========================REAL ESTATE STYLES=================


.content-real-estate {
	width: 100%;
	max-width: 1200px;
	padding: 20px;
	margin: auto;
	background-color: $softBgColor;

	h1 {
		border-bottom: 1px solid $darkGrey;
		text-align: center;
		padding: 10px;
		font-size: 2em;
		color: $darkGrey;
	}
 
	img {
		display: block;
		margin: auto;
		padding: 20px;
	}
	
}