
@import 'reset';




$darkGrey: #57585a;
$lightGrey: #6c6d70;
$textColor: #fffde9;
$softBgColor: #fffde9;
$lightFont: #fffde9;

@font-face {
	font-family: "Founders-Regular";
	src: url("../fonts/FoundersGrotesk-Regular.eot") format("eot"),
		 url("../fonts/FoundersGrotesk-Regular.woff") format("woff"),
		 url("../fonts/FoundersGrotesk-Regular.woff2") format("woff2"),
}

@font-face {
	font-family: "Founders-Regular-Italic";
	src: url("../fonts/FoundersGrotesk-RegularItalic.eot") format("eot"),
		 url("../fonts/FoundersGrotesk-RegularItalic.woff") format("woff"),
		 url("../fonts/FoundersGrotesk-RegularItalic.woff2") format("woff2"),
}

@font-face {
	font-family: "TiemposTex-Regular";
	src: url("../fonts/TiemposText-Regular.eot") format("eot"),
		 url("../fonts/TiemposText-Regular.woff") format("woff"),
		 url("../fonts/TiemposText-Regular.woff2") format("woff2"),

}

@font-face {
	font-family: "TiemposTex-RegularItalic";
	src: url("../fonts/TiemposText-RegularItalic.eot") format("eot"),
		 url("../fonts/TiemposText-RegularItalic.woff") format("woff"),
		 url("../fonts/TiemposText-RegularItalic.woff2") format("woff2"),

}


* {
	box-sizing: border-box;
}

body {
	background-color: $softBgColor;

}




// =========================HEADER STYLES==================


header {
	width: 100%;
	background-color: $darkGrey;
	overflow: hidden;

	img {
		height: auto;
		padding: 20px;
		float: left;
		margin: 10px 0px;
	}

	.hamburger {
		float: right;
		margin: 10px 10px;
		padding: 20px;
		cursor: pointer;


		.line-1 {
			width: 45px;
			height: 3px;
			border-radius: 10px;
			background-color: white;
			margin: 6px 0;
			transition: 0.4s; 
		}

		.line-2 {
			width: 45px;
			height: 3px;
			border-radius: 10px;
			background-color: white;
			margin: 6px 0;
			transition: 0.4s;
		}
		
		.line-3 {
			width: 45px;
			height: 3px;
			border-radius: 10px;
			background-color: white;
			margin: 6px 0;
			transition: 0.4s ease-in-out;
		}

		.change.line-1 {
			transform: rotate(-45deg) translate(-5px, 3px);
			width: 45px;
		}

		.change.line-2 {
			opacity: 0;
		}

		.change.line-3 {
			transform: rotate(45deg) translate(-8px, -8px) ;
		}
	}
}

.toggle-nav {
	display: none;
}

.overlay-wrap {
	z-index: 1;
	position: relative;
	width: 100%;
	animation: slidein 1s linear;

}

nav {
	width: 100%;
	clear: both;
	z-index: 10;	
	background: rgba(128,128,128, 0.4);



	ul {
		width: 100%;
		margin: 0px auto;
		padding: 25px 0px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		flex-wrap: wrap;
		text-align: center;
		

		li {
			margin: 10px 15px;
		}

		.divider {
			position: relative;
		}

		.divider::after {
			display: none;

			content: "";
			position: absolute;
			height: 12px;
			width: 2px;
			background-color: $textColor;
			top: 20%;
			left: 130%;
		}

		.divider-estate {
			position: relative;
		}

		.divider-estate::after {
			display: none;
			content: "";
			position: absolute;
			height: 12px;
			width: 2px;
			background-color: $textColor;
			top: 20%;
			left: 121%;
		}

		.divider-banking {
			position: relative;
		}

		.divider-banking::after {
			content: "";
			display: none;

			position: absolute;
			height: 12px;
			width: 2px;
			background-color: $textColor;
			top: 20%;
			left: 129%;
		}

		.divider-oil {
			position: relative;
		}

		.divider-oil::after {
			display: none;

			content: "";
			position: absolute;
			height: 12px;
			width: 2px;
			background-color: $textColor;
			top: 20%;
			left: 135%;
		}
		
		a {
			text-decoration: none;
			color: $textColor;
			font-family: "Founders-Regular";
			font-size: 1em;
			margin: 0px 5px;
			cursor: pointer;
			z-index: 1;
			font-weight: 900;

		}
	}
}


@media only screen and (max-width : 420px) {

	header{

		img {
			width: 65%;
		}
	}

	nav {
		ul {
			padding: 15px;
		}
	}
}

@media only screen and (max-width : 550px) {

	nav {
		ul {
			padding: 15px;
		}
	}
}

	@media only screen and (min-width : 768px) {

		.overlay-wrap {

		.overlay {
				position: absolute;
				left: 0%;
				top: 0%;
				width: 100%;
				height: 110px;
				z-index: -1;
				background-color: rgba(0, 0, 0, 0.6); 
			}
		nav ul {
			flex-direction: row;
			position: absolute;
			top: 0%;
			left: 0%;
			padding: 35px 0px;



			.divider::after, .divider-estate::after, .divider-banking::after, .divider-oil::after {
				display: block;
			}
		}
	}
}


// ==========================HOME STYLES=================




.hero-home {
	width: 100%;	
	margin: auto;
	background-color: #8b8d90;
	background: url("/dist/img/bg-veritas.jpeg") no-repeat center;
	background-size: cover;
	height: 100vh;
	z-index: 1;
	position: relative;


	.text-wrap-home {
		width: 100%;
		z-index: -1;
		padding: 10px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		p {
			font-size: 1.3em;
			text-align: center;
			line-height: 1.5;
			color: $textColor;
			font-family: "TiemposTex-Regular";
		}	
	}	
}


@media only screen and (min-width : 768px) {

	.hero-home {

		.text-wrap-home {
			width: 80%;
		}
	}
}

@media only screen and (min-width : 960px) {

	.hero-home {

		.text-wrap-home {
			width: 70%;
		}
	}
}

// ==========================ABOUT STYLES=================


.content-about {
	width: 100%;
	max-width: 1200px;
	padding: 20px;
	margin: 35px auto;
	background-color: $softBgColor;


	.about-blurb {
		text-align: center;
		padding: 20px;
		line-height: 1.3;
		padding: 20px;
		font-family: "TiemposTex-Regular";
		color: grey;
	}

	h1 {
		border-bottom: 1px solid $darkGrey;
		text-align: center;
		padding: 10px;
		font-size: 2em;
		color: $darkGrey;
	}

	.col-1-about, .col-2-about, .col-3-about {
		margin-top: 25px;
		text-align: center;
		font-family: "TiemposTex-Regular";
		padding: 20px;


		img {
			width: 100%;
			// margin: 20px;;
		}

		h2 {
			margin-top: 15px;
			margin-bottom: 15px;
			font-size: 1.4em;
			color: $darkGrey;
		}

		p {
			font-size: 1.1em;
			margin: 15px 0px;
			line-height: 1.2;
			text-align: left;
		}
	}
}


@media only screen and (min-width : 768px) {

	.content-about {

		.col-1-about, .col-2-about, .col-3-about {

			img {
				width: 70%;
			}
		}

	}
}


@media only screen and (min-width : 960px) {

	.content-about {
		min-width: 960px;
		.about-blurb {
			width: 70%;
			font-size: 1.2em;
			line-height: 1.3;
			margin: auto;
		}

		.col-wrap {
			display: flex;
			flex-wrap: wrap;

			.column {
				width: 100%;
				text-align: left;
				// margin: 0px;
			}	
			.col-1-about {
				order: 1;
				padding: 0px;
				width: 33.333%;
			}
	
			.col-2-about {
				order: 2;
				padding: 0px;
				width: 33.333%;
			}
			
			.col-3-about {
				order: 3;
				padding: 0px;
				width: 33.333%;
			}

			.img-wrap {
				width: 100%;
				padding: 10px;
			}
	
			h2 {
				margin: 10px 0px 0px 0px;
				padding: 10px;
			}
	
			p {
				line-height: 1.2;
				font-size: .8em;
				padding: 0px 10px 10px 10px;
				margin: 0px;

			}
			
	
			img {
				width: 100%;
				// margin: 10px;
				padding: 0px;
			}
	
		}

		
	}
}

// ==========================TEAM STYLES=================


.content-team {
	width: 100%;
	max-width: 1200px;
	padding: 20px;
	margin: 35px auto;
	background-color: $softBgColor;

	h1 {
		border-bottom: 1px solid $darkGrey;
		text-align: center;
		padding: 10px;
		font-size: 2em;
		color: $darkGrey;
	}

	.col-1-team, .col-2-team, .col-3-team {
		margin-top: 25px;
		text-align: left;
		line-height: 1.2;

		img {
			display: block;
			margin: auto;
			padding: 20px;
		}
		h2 {
			margin: 5px 0px;
			display: inline-block;
			font-size: 1.1em;

		}

		.divider-team {
			position: relative;
		}

		.divider-team::after {
			content: "";
			position: absolute;
			height: 10px;
			width: 2px;
			background-color: $darkGrey;
			top: 2%;
			left: -6%;
		}

		h3 {
			margin: 5px 10px;
			display: inline-block;
			vertical-align: baseline;
			font-size: .7em;
		}
	}
}

// ==========================BANKING STYLES=====================

.content-banking {
	width: 100%;
	max-width: 1200px;
	padding: 20px;
	margin: 35px auto;
	background-color: $softBgColor;


	h1 {
		border-bottom: 1px solid $darkGrey;
		text-align: center;
		padding: 10px;
		font-size: 2em;
		color: $darkGrey;
	}

	.banking-img {
		display: block;
		margin: 20px auto;
		text-align: center;

		img {
			width: 100%;
		}
	}

	.banking-text-wrap {

		h2 {
			font-size: 1.2em;
			font-family: "TiemposTex-Regular";
			margin-bottom: 15px;
			color: gray;
		}

		p {
			color: grey;
			font-family: "TiemposTex-Regular";
			margin-bottom: 15px;
		}
	
	}

}


@media only screen and (min-width : 960px) {

	.content-banking {
		
		.banking-wrap {
			display: flex;


			.banking-img {
				padding: 20px 20px 20px 0px;
				width: 400%;
			}

			.banking-text-wrap {
				padding: 35px;
				h2 {
					font-size: 1.3em;
					margin-bottom: 20px;
				}
		
				p {
					margin-bottom: 40px;
					line-height: 1.4;
				}

			}
		}
	}
}



// ==========================ENERGY STYLES=================


.content-energy {
	width: 100%;
	max-width: 1200px;
	padding: 20px;
	margin: 35px auto;
	background-color: $softBgColor;

	h1 {
		border-bottom: 1px solid $darkGrey;
		text-align: center;
		padding: 10px;
		font-size: 2em;
		color: $darkGrey;
	}

	.energy-img {
		display: block;
		// margin: auto;
		padding: 20px;
		// text-align: center;

		img {
			width: 100%;
		}
	}

	.energy-text-wrap {

		h2 {
			font-size: 1.2em;
			font-family: "TiemposTex-Regular";
			margin-bottom: 15px;
		}

		p {
			color: grey;
			font-family: "TiemposTex-Regular";
			margin-bottom: 15px;
		}
	
	}

}

@media only screen and (min-width : 960px) {

	.content-energy {
		
		.energy-wrap {
			display: flex;
			margin-top: 20px;

			.energy-img {
				padding: 20px 20px 20px 0px;
				width: 300%;
			}

			.energy-text-wrap {
				padding: 20px;
				p {
					margin-bottom: 40px;
					line-height: 1.3;
				}

			}
		}
	}
}






// ==========================REAL ESTATE STYLES=================


.content-real-estate {
	width: 100%;
	max-width: 1200px;
	padding: 20px;
	margin: 35px auto;
	background-color: $softBgColor;

	.real-estate-img {
		margin-bottom: 10px;
		width: 100%;
	}

	// iframe {
	// 	width: 100%;

	// }
	
	.video {
		position: relative;
		max-width: 100%;
		height: 315px;
	}

	.video > * {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.aspect-ratio-16-9 {
		padding-top: 56.25% !important;
	}


	.float-a-text {
		a {
			color: grey;
			font-family: sans-serif;
			font-size: .9em;
			padding: 10px 0px;
			text-decoration: none;
		}

		p {
			color: grey;
			font-family: sans-serif;
			font-size: .9em;
			padding: 10px 0px;
		}

		.oak-link {
			padding: 0px;
			text-decoration: underline;

		}
	}

	.realEstate-hero-img {
		display: block;
		margin: auto;
		padding: 20px 0px;
		width: 100%;
	}

	h1 {
		border-bottom: 1px solid $darkGrey;
		text-align: center;
		padding: 10px;
		font-size: 2em;
		color: $darkGrey;
	}

	.real-estate-text-wrap {
		color: grey;

		font-family: "TiemposTex-Regular";

		h2 {
			color: grey;

			font-size: 1.2em;
			margin-bottom: 10px;
		}

		p {
			margin-bottom: 10px;
		}

	}

	.real-estate-footer {

		h2 {
			color: grey;
			font-family: "TiemposTex-Regular";
			text-align: left;
			display: inline-block;
		}

		.social-icons {
			width: 100%;
			margin-bottom: 20px;
			font-size: 1.2em;

		
			.fb-icon, .insta-icon, .twitter-icon {
				width: 5.5%;
				margin: -10px 5px;
			}

			 p {
				display: inline-block;

			 }
		
		
			a, p {
				color: grey;
				font-size: 1em;
				font-family: "TiemposTex-Regular";
			}

		
		}
	}
}

@media only screen and (min-width: 960px) {

	.content-real-estate {

		.real-estate-wrap {



			.realEstate-hero-img {
				padding: 25px 20px 20px 0px;
				width: 51.5%;
				float: left;
			}


			.video {
				float: left;
				width: 50%;

			}
			

			.float-a-text {
				width: 46%;
				float: left;
				margin-left: 15px;

			}

			.real-estate-text-wrap {
				float: left;
				width: 48%;

				text-align: left;
				h2 {
					font-size: 1.3em;
					margin-bottom: 15px;
				}
		
				p {
					color: grey;
					margin-bottom: 15px;
					line-height: 1.2;
					font-family: "TiemposTex-Regular";

				}
		
			}
				.real-estate-footer {
					width: 48%;
					float: left;
					text-align: left;
					margin-left: 15px;
					margin-top: 10px;
					font-family: "TiemposTex-Regular";
					h2 {
						font-size: 16px;
						display: inline-block;
						vertical-align: middle;
					}

				.social-icons {
					padding: 10px 0px;
					margin-bottom: 20px;
					font-size: 1.2em;

				
					.fb-icon, .insta-icon, .twitter-icon {
						width: 5%;
						margin: -7px 5px;

					}
					p {
						display: inline-block;
						vertical-align: middle;

					}
					

					p, a{
						color: grey;
						font-size: 16px;

					}
				}
			}
		}

		.clear-floats {
			clear: both;
		}
	}
}


// ==========================CONTACT STYLES=================



.content-contact {
	width: 100%;
	max-width: 1200px;
	padding: 20px;
	margin: 35px auto;
	background-color: $softBgColor;

	h1 {
		border-bottom: 1px solid $darkGrey;
		text-align: center;
		padding: 10px;
		font-size: 2em;
		color: $darkGrey;
	}

	.contact-us-text-wrap {
		margin-top: 15px;

		h2 {
			color: grey;
			font-size: 1.2em;
			font-family: "Founders-Regular";
			padding: 5px 0px;
		}

		p {
			color: grey;
			font-family: "Founders-Regular";
		}
		 
		a {
			text-decoration: none;
			color: grey;
			display: block;
			margin-top: 20px;
		}
	}
}